# See http://help.github.com/ignore-files/ for more about ignoring files.

# .env
.env
# compiled output
/dist
/out-tsc

# dependencies
/node_modules
node_modules
development.env
# IDEs and editors
.nx
.nx/*
/.idea/*
!.idea/rcb-settings.xml
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.react/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# system Files
.DS_Store
Thumbs.db

# Prerendered dynamic routes
/apps/sandbox/prerender-dynamic-routes/routes.txt

# design tokens
/tokens

vite.config.*.timestamp*
vitest.config.*.timestamp*

.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
